body {
    background-image: url(../images/deadstock.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -3;

    /* object-fit: cover; */

}

.container {
    text-align: center;
    padding-top: 21%;
}
h1 {
    font-weight: bolder;
    color: white;
}
.form-group {
    color: white;
}
p {
    color: white;
}
a:link {
    color: black;
}
input[type=submit] {
    color: rgb(155, 143, 143);
}
input[type=email], select {
    padding: 0px;
}
input, select {
    padding: 0px;
}

.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}